<!-- PARTIAL: Bottom navigation mobile -->
<!-- data-component="bottomnav-app" -->
<!-- Visible uniquement sur mobile (<768px) grace a la classe wf-bottomnav -->
<div class="wf-bottomnav" data-component="bottomnav-app">
  <div class="wf-bottomnav__items">
    <a href="home.html" class="wf-bottomnav__item wf-bottomnav__item--active" data-flow="home.html">
      <span class="wf-bottomnav__icon">&#9750;</span>
      Accueil
    </a>
    <!-- Ajouter ici les liens specifiques au projet -->
    <a href="settings.html" class="wf-bottomnav__item" data-flow="settings.html">
      <span class="wf-bottomnav__icon">&#9881;</span>
      Parametres
    </a>
    <a href="account.html" class="wf-bottomnav__item" data-flow="account.html">
      <span class="wf-bottomnav__icon">&#9823;</span>
      Compte
    </a>
  </div>
</div>
